@model IEnumerable<BikeStore.XEGANMAY>
@{
    ViewBag.Title = "SPTheoNhaphanphoi";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@foreach (var item in Model)
{
    <li>
        <a href="@Url.Action("Details","QuanLyXe",new {id= item.MaNPP})">
            <img alt="@item.TenXe" src="~/images/@item.Anhbia" />
            <span>@item.TenXe</span>
        </a>
    </li>
}